.about-page {
  margin-left: 15%;
  margin-top: 10%;
  h1 {
    font-size: 33px;
    margin: 0;
    font-weight: 200;
    letter-spacing: 2px;
    font-family: 'La Belle Aurore';
    color: #ffd700;
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    animation: fadeIn 1s 1.7s backwards;
  }
}
