.home-page {
  .text-zone {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    max-height: 90%;
  }
  .skill-item {
    position: absolute;
    left: 45%;
    top: 25%;
    .js-icon {
      margin-left: 50px;
      margin-bottom: 50px;
    }
    .tailwind-icon {
      margin-left: 50px;
      margin-top: 50px;
    }
  }
  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.6;
    }

    &::after {
      content: '<h1/>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      width: 32px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1s;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.7s backwards;
  }

  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.7s backwards;
    white-space: nowrap;
    transition: all 0.7s;

    &:hover {
      background-color: #ffd700;
      color: #333;
    }
  }
}

.home-item {
  background-color: #edf2e0;
  display: inline-block;
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  .home-icon {
    height: 30px;
    width: 30px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home-icon {
  animation: rotate 2s linear infinite;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .skill-item {
    display: none;
  }
  .logo-container {
    display: none;
  }
  .text-zone {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-height: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
